/*
* vector prefixed para las ultimas 30 versiones de los navegadores
*/
:root {
    --color-primario: #e8e8e8;
    --color-primario2: #f6f6f6;
    --color-secundario: #990100;
    --color-secundario2:#b90504;
    --color-terciario: #333333;
    --tamano-fuente-grande: 4rem;
    --tamano-fuente-media: 1.5rem;
    --tamano-fuente-chica: 1rem;
  }
  @font-face {
    font-family: 'Bruno Ace SC';
    src: url('assets/fonts/BrunoAceSC-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular',Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  background-color: var(--color-primario);
  color: var(--color-terciario);
}
/* Ocultar el scroll nativo */
body {
  overflow: hidden;
}
/* Crear la barra de scroll personalizada */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primario);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-terciario);
}

/* Habilitar el scroll y mostrar la barra personalizada */
body {
  overflow: auto;
}
main{
  min-height: 43vh;
}
nav>.container-fluid>span{
  margin-left: 5vw;
  display: block;
  height: 50px;
  width: 50px;
  background-image: url('assets/tp1_logo.svg');
  background-repeat: no-repeat;
  text-indent: -9999em;
}
nav ul{
  margin-right: 5vw ;
}
  .hero h1{
    color: var(--color-secundario2);
    font-size: var(--tamano-fuente-grande);
    font-weight: bolder;
  }
  .hero{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
  }
  .hero>div{
    padding-top: 10vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero img{
    max-height: 80vh;
  }
  .btn-contacto{
    border: 2px solid rgba(255,255,255,0.0);
    display: inline;
    color: var(--color-primario);
    padding: 10px;
    background-color: var(--color-secundario2);
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin-bottom: 4vh;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s;
  }
  .btn-contacto:hover{
    border: 2px solid var(--color-secundario2);
    color: var(--color-secundario2);
    background-color: var(--color-primario);
  }
  .nosotros, .rutinas, .entrenadores{
    margin-top: 10vh;
  }
  h1{
    text-align: center;
    color: var(--color-secundario2);
    font-weight: bolder;
    font-family: 'Bruno Ace SC',Arial, Helvetica, sans-serif;
  }
  h2{
    font-size: var(--tamano-fuente-media);
    text-align: center;
  }
  .nosotros>div>img{
    max-width: 50%;
  }
.nosotros>div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin-top: 5vh;
}
.nosotros>div>.info{
    margin-left: 2vw;
}

section[class="rutinas"]{
  min-height: 100vh
}
.categorias {
  margin-top: 5vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  grid-gap: 10px;
}
.categorias a{
  text-decoration: none;
  transition: all 1s;
}
.categorias figcaption{
  text-transform: capitalize;
  color: var(--color-terciario);
  text-align: center;
  font-weight: bolder;
}
.categorias figure{
  overflow: hidden;
}
.img-categoria{
  border-radius: 25px;
}
.categorias a:hover .img-categoria{
  transform: scale(1.04);
  transition: all 1s;
}

.entrenadores>div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.entrenador{
    margin: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 100%;
    max-width: 200px;
}
.entrenador img{
  border-radius: 25px;
}
.frecuentes>div>img{
  max-width: 50%;
}
.frecuentes>div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.productos-h2{
  margin-top: 5vh;
}
section[class="productos"]{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section[class="productos"]>.card{
  width: 18rem;
  margin-top: 5vh;
  -webkit-box-shadow: 6px 9px 15px 0px var(--color-terciario);
          box-shadow: 6px 9px 15px 0px var(--color-terciario);
          overflow: hidden;
}

.card>img{
  -webkit-filter: grayscale(41%);
          filter: grayscale(41%);
  transition: transform 1s;
}
.card:hover img{
  -webkit-filter: saturate(120%);
          filter: saturate(120%);
  transform: scale(1.04);
  transition: transform 1s;
}
.card a{
  color: var(--color-terciario);
  text-decoration: none;
}
.card a:hover{
  color: var(--color-terciario);
}
/*----------------------------------------Detalles----------------------------------------------*/
span a{
  color: var(--color-primario);
  background-color: var(--color-secundario2);
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--color-secundario2);
  letter-spacing: 2px;
  padding: 2px 5px;
  border-radius: 25px;
}
span a:hover{
  color: var(--color-primario);
}
.detalles_producto{
  margin-top: 3vw;
}
.detalles_producto>div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primario2);
  padding: 1vw;
  -webkit-box-shadow: 6px 9px 15px 0px var(--color-terciario);
          box-shadow: 6px 9px 15px 0px var(--color-terciario);
}
.detalles_producto>div>img{
  max-width: 50%;
  -webkit-clip-path: ellipse(70% 70% at 50% 50%);
          clip-path: ellipse(70% 70% at 50% 50%);
}
.detalles_producto>div{
  margin: 2em 0;
}
.detalles_producto>div>div{
  padding: 1vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.detalles_producto>div>div>.precio{
  font-size: var(--tamano-fuente-media);
}
.detalles_producto>div>div>p{
  padding-top: 1vw;
}
/*----------------------------------------Filtros----------------------------------------------*/
.filtros{
  background-color: var(--color-primario2);
  padding:3vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 6px 9px 15px 0px rgba(0,0,0,0.75);
          box-shadow: 6px 9px 15px 0px rgba(0,0,0,0.75);
}
.filtros input{
  max-width: 7em;
}
.filtros label{
  margin-top: 2vh;
}
.buscador-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.filtros .div-precios{
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-precios>div{
  display: flex;
  justify-content: space-between;
}
label[for="maxp"], label[for="minp"]{
  position: absolute;
  left: -999em;
  top: -999em;
}
.opcional{
  font-size: .9em;
  color: #990100;
}
.contenedor-btn-login{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*----------------------------------------Login-registro----------------------------------------------*/
.contenedor-btn-login p{
  padding: 1em;
}
.registrate{
  font-weight: bolder;
  color: #990100;
  text-decoration: none;
}
/*----------------------------------------Carrito----------------------------------------------*/
.carrito_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5vh;
}
.carrito_container section:last-of-type .btn-contacto{
  width: 100%;
  display: inline-block;
  text-align: center;
}
.carrito{
  width: 60%;
}

.carrito .tarjeta_carrito{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border: 2px solid var(--color-secundario);
  border-radius: 25px;
  position: relative;
}
.carrito .tarjeta_carrito div:first-of-type{
  width: 50%;
}

.carrito img{
  width: 100%;
  clip-path: ellipse(70% 70% at 50% 50%);
  max-width: 255px;
}
.carrito .tarjeta_carrito div:last-of-type{
  text-align: right;
}
.tarjeta_carrito form{
  position: absolute;
  top: -10px;
  right: -10px;
}
.carrito_precio{
  border: 2px solid var(--color-secundario);
  border-radius: 25px;
  padding: 2em;
  height: 100%;
}
.carrito_precio li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: .6em;
}
.carrito_precio li:last-of-type{
  border-top: 1px solid var(--color-terciario);
}
/*----------------------------------------Mi perfil-----------------------------------------------*/
.mi-perfil>div{
  display: flex;
  min-height: 70vh;
  justify-content: center;
  align-items: flex-start;
}
.mi-perfil>div>section{
  border: 2px solid var(--color-secundario);
  border-radius: 25px;
  padding: 1em;
  margin: 1em;
  width: 50%;
  min-width: 340px;
  min-height: 70vh;
}
.mi-perfil>div>section:first-of-type{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mi-perfil>div>section:first-of-type .datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 0;
}
.datos span{
  padding: 1em;
}
.mi-perfil img{
  width: 200px;
  clip-path: circle(50%);
}
.mi-perfil li{
  display: flex;
  justify-content: space-between;
  padding: .5em;
  line-height: 36px;

}
.mi-perfil>div>section:last-of-type .btn-contacto{
  padding: 2px;
  margin-bottom: 0;
}
.mi-perfil li:nth-child(even) {
  /* Estilos para los elementos li pares */
  background-color: var(--color-primario2);
}
/*----------------------------------------Paginador-----------------------------------------------*/
.paginador{
  margin: 5vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paginador-lista{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginador-lista li{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginador-lista li:hover{
  border: 1px solid var(--color-secundario2);
}
.paginador-lista li a{
  width: 50px;
  height: 50px;
  color: var(--color-terciario);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginador-lista .pag-actual{
  background-color: var(--color-secundario2);
  color: var(--color-primario2);
}
.paginador-lista .disable{
  cursor: not-allowed;
}
/*----------------------------------------Footer-----------------------------------------------*/
.contenedor{
  max-width: 1170px;
  margin:auto;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: var(--color-primario2);
    padding: 2em 0;
    margin-top: 1em;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h3{
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h3::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: var(--color-secundario);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: var(--color-terciario);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.4);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--color-terciario);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: var(--color-secundario);
  background-color: var(--color-terciario);
}
.logo{
  display: block;
  height: 80px;
  width: 80px;
  background-image: url('assets/tp1_logo.svg');
  background-repeat: no-repeat;
  text-indent: -9999em;
  margin: 0 auto 2em;
}
footer>div:last-of-type{
  border-top: 1px solid var(--color-terciario);
  padding-top: 2vh;
  margin-top: 2vh;
}
footer>div:last-of-type p {
  margin: auto;
  text-align: center;
  font-size: .8em;
}
.msg-error,.msg-exito{
  font-weight: bolder;
  text-align: center;
  border-radius: 25px;
  margin: 2px 20px;
}
.msg-error{
background: #99010066;
}
.msg-exito{
background: #00990166;
}
form .msg-error{
font-size: .7em;
}
@media only screen and (max-width: 768px){
  *{
    font-size: 20px;
  }
  .hero h2{
    font-size: 2em;
  }
  .nosotros>div,.frecuentes>div{
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .nosotros>div>img{
    max-width: 80%;
  }
  .filtros{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2em;
  }
  .buscador-container{
    flex-wrap: wrap;
  }
  .detalles_producto>div{
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .detalles_producto>div>img{
    max-width: 100%;
  }
  .footer-col{
    width: 50%;
 }
 .carrito_container{
  flex-wrap: wrap;
 }
 .carrito, .carrito_precio{
  width: 100%;
 }
 .mi-perfil>div{
  flex-wrap: wrap;
 }
 .mi-perfil>div>section{
  width: 90%;
 }
}
@media(max-width: 574px){
  .hero h1{
    font-size: 2em;
  }
  .footer-col{
    width: 100%;
    margin: auto;
}
.carrito .tarjeta_carrito{
  flex-wrap: wrap;
}
.carrito .tarjeta_carrito div:first-of-type {
  width: 100%;
}
.carrito .tarjeta_carrito div:last-of-type {
  text-align: center;
}
.mi-perfil>div>section{
  width: 90%;
}
}